<!DOCTYPE html>
<html>
<head>
  <title>Action Decision</title>
  <link href="css/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
<h2><%= @game.player_1.name%> vs <%= @game.player_2.name %></h2>
<p><strong>It's <%= @game.current_turn.name %>'s turn.</strong></p>
</header>

<section id="stats">
    <p><%= @game.player_1.name%>: <%= @game.player_1.hp %> HP </p>
    <p><%= @game.player_2.name %>: <%= @game.player_2.hp %> HP </p>
</section>

<div class="decision">
  <ul>
<li><form action="/attack" method="post">
  <input id="attack_button" type="submit" value="Attack!">
  </form></li>

  <li><form  action="/paralyse" method="post">
  <input id="paralyse_button" type="submit" value="Paralyse!">
</form></li>

<li><form action="/poison" method="post">
  <input id="poison_button" type="submit" value="Poison!">
</form></li>
</ul>

</div>

</body>

</html>
